.App {
  /* text-align: center; */
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.309);
}

* {
  background-color: rgba(255, 255, 255, 0.402);
}

#root {
  height: 100% !important;
  /* padding: 5px; */
}

@font-face {
  font-family: "Charm-Regular";
  src: url("./assets/Charm/Charm-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-VariableFont_wght";
  src: url("./assets/Quicksand/Quicksand-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Quicksand-VariableFont_wght", sans-serif;
}

body {
  height: 100vh;
  padding-right: 3px;
  padding-left: 3px;
  margin: 0;
}

.dayContainer {
  /* background-color: rgb(199, 255, 211); */
  height: 100vh;
  animation: fadeIn 0.3s ease-in;
  padding-bottom: 10vh;
  padding-top: 55px;
}

.happyHoursContainer {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.dayTitle {
  font-size: 2em;
  padding-top: 1vh !important;
  text-align: center;
  padding-bottom: 1vh;
  padding-top: 1vh;
  background-color: rgb(70, 209, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.restaurantTitle {
  font-size: large;
  text-align: center;
  margin-top: 2vh;
}

.Hdivider {
  opacity: 0.6;
}
