.App {
  /* text-align: center; */
  height: 100%;
  width: 100%;
  background-color: rgba(228, 228, 228, 0.281);
}

#root {
  height: 100% !important;
  /* padding: 5px; */
}

@font-face {
  font-family: "Charm-Regular";
  src: url("./assets/Charm/Charm-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-VariableFont_wght";
  src: url("./assets/Quicksand/Quicksand-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Quicksand-VariableFont_wght", sans-serif;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.dayContainer {
  /* background-color: rgb(206, 206, 206); */
  height: 100vh;
  animation: fadeIn 0.3s ease-in;
}

.dayTitle {
  font-size: 2em;
  padding-top: 1vh !important;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
